.contenidoContainer{
    display: grid;
    grid-template-columns: repeat(2, 100vh);
    grid-template-rows: repeat(2, 35vh);
    justify-content: center;
    height: auto;
}

.contenidoTitulo{
    justify-items: center;
}