.navContainer{
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    align-items: center;
}

.navlinks{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}